In [3]:
import pandas as pd
import numpy as np

In [4]:
## Another version of code to read and process the MXM train data into the desired csv format
##Only keep for reference - will use the saved data for further process
data_lyrics = pd.read_table('mxm_dataset_train.txt',comment='#')
data_counts = pd.read_table('mxm_dataset_train.txt',comment='#',skiprows=18,header=None)
df = np.zeros((len(data_counts), 5000))
headers = []
for i in range(len(data_counts)):
    item = data_counts.iloc[i].values[0]
    headers = headers + item.split(',')[:2]
    count_only = item.split(',')[2:]
    for i1 in count_only:
        dic = i1.split(':')
        col = int(dic[0])
        df[i,col-1] = dic[1]

new_df = pd.DataFrame(data=df)         
headers_np = np.asarray(headers)
headers_np = headers_np.reshape((len(data_counts),2))
name_df = pd.DataFrame(data=headers_np,)
result = pd.concat([name_df,new_df],axis=1 )

In [6]:
data_words = pd.read_table('mxm_dataset_train.txt',comment='#',nrows=1,header=None)
split_word = lambda x: pd.Series([i for i in (x.split(','))])
word_list = data_words.iloc[0].apply(split_word)
word_list.iloc[0,0]='i'
words = word_list.iloc[0].values
ids = np.asarray(['track_id', 'mxm_id'])
full_header = np.concatenate((ids,words))
full_header

array(['track_id', 'mxm_id', 'i', ..., 'gee', 'colleg', 'kad'], dtype=object)

In [8]:
result.columns = full_header
full_data.to_csv('train.csv')
result.head(5)

,track_id,mxm_id,i,the,you,to,and,a,me,it,...,writer,motivo,bake,insist,wel,santo,pe,gee,colleg,kad
0,TRAAAAV128F421A322,4623710,6.0,4.0,2.0,2.0,5.0,3.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,TRAAABD128F429CF47,6477168,10.0,0.0,17.0,8.0,2.0,2.0,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,TRAAAED128E0783FAB,2516445,28.0,15.0,2.0,12.0,22.0,2.0,2.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,TRAAAEF128F4273421,3759847,5.0,4.0,3.0,2.0,1.0,11.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TRAAAEW128F42930C0,3783760,4.0,0.0,0.0,5.0,7.0,2.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
##Read in the saved train and test data
train = pd.read_csv('train.csv', header = None)
test = pd.read_csv('test.csv', header = None)
test.head(5)

,0,1,2,3,4,5,6,7,8,9,...,4992,4993,4994,4995,4996,4997,4998,4999,5000,5001
0,TRAABRX12903CC4816,1548880,0,19,0,7,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,TRAADFO128F92E1E91,5325944,79,66,15,7,8,9,5,5,...,0,0,0,0,0,0,0,0,0,0
2,TRAADQW128F427CE68,3811449,3,3,2,0,0,0,4,1,...,0,0,0,0,0,0,0,0,0,0
3,TRAADRX12903D0EFE8,5583484,1,0,0,0,0,5,1,0,...,0,0,0,0,0,0,0,0,0,0
4,TRAAEJQ128F92C484E,9124657,28,7,12,3,4,3,1,11,...,0,0,0,0,0,0,0,0,0,0

In [13]:
##Concatenate the given training and testing to a full set
## To match with the tagged songs - will not use all of them
full_data = pd.concat([train,test], axis = 0)
full_data.columns = full_header
full_data.head(5)

,track_id,mxm_id,i,the,you,to,and,a,me,it,...,writer,motivo,bake,insist,wel,santo,pe,gee,colleg,kad
0,TRAAAAV128F421A322,4623710,6,4,2,2,5,3,1,1,...,0,0,0,0,0,0,0,0,0,0
1,TRAAABD128F429CF47,6477168,10,0,17,8,2,2,1,3,...,0,0,0,0,0,0,0,0,0,0
2,TRAAAED128E0783FAB,2516445,28,15,2,12,22,2,2,4,...,0,0,0,0,0,0,0,0,0,0
3,TRAAAEF128F4273421,3759847,5,4,3,2,1,11,0,0,...,0,0,0,0,0,0,0,0,0,0
4,TRAAAEW128F42930C0,3783760,4,0,0,5,7,2,4,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
##Save to csv for further use
full_data.to_csv('full_counts.csv')

In [14]:
##Read in the track ID lists for each of the 4 categories: happy, sad, relax, energetic
happy_id = pd.read_csv('happyID.csv')
relax_id = pd.read_csv('relaxID.csv')
energetic_id = pd.read_csv('energeticID.csv')
sad_id = pd.read_csv('sadID.csv')
full_happy = full_data.loc[full_data['track_id'].isin(happy_id['ID'])]
full_relax = full_data.loc[full_data['track_id'].isin(relax_id['ID'])]
full_energetic = full_data.loc[full_data['track_id'].isin(energetic_id['ID'])]
full_sad = full_data.loc[full_data['track_id'].isin(sad_id['ID'])]

In [15]:
##Check for the number of songs that matched
##APproximately half of the tagged songs can be found with lyrics data for each mood
print happy_id.shape, full_happy.shape
print relax_id.shape, full_relax.shape
print energetic_id.shape, full_energetic.shape
print sad_id.shape, full_sad.shape

(11123, 1) (5312, 5002)
(9198, 1) (4021, 5002)
(5590, 1) (2647, 5002)
(11262, 1) (6357, 5002)

In [16]:
full_sad.head(5)

,track_id,mxm_id,i,the,you,to,and,a,me,it,...,writer,motivo,bake,insist,wel,santo,pe,gee,colleg,kad
41,TRAADKW128E079503A,692306,37,9,15,10,21,23,2,5,...,0,0,0,0,0,0,0,0,0,0
65,TRAAFGQ128F427D884,7012834,24,11,5,13,19,16,9,7,...,0,0,0,0,0,0,0,0,0,0
66,TRAAFMS128F933AB23,1453355,0,0,0,0,0,7,2,0,...,0,0,0,0,0,0,0,0,0,0
76,TRAAGEC128E079252C,12376617,13,8,8,4,4,0,3,1,...,0,0,0,0,0,0,0,0,0,0
81,TRAAGJV128F1464090,6622168,21,2,10,22,6,2,2,10,...,0,0,0,0,0,0,0,0,0,0

In [21]:
## Save to csv for future use
full_happy.to_csv('happy_counts.csv')
full_relax.to_csv('relax_counts.csv')
full_energetic.to_csv('energetic_counts.csv')
full_sad.to_csv('sad_counts.csv')

In [17]:
## Add up the total occurrence for each word in each type
total_happy = full_happy.iloc[:,2:].sum()
total_sad = full_sad.iloc[:,2:].sum()
total_energetic = full_energetic.iloc[:,2:].sum()
total_relax = full_relax.iloc[:,2:].sum()

In [18]:
## Sort by total number of occurences
sorted_happy = total_happy.sort_values(ascending=False, inplace=False)
sorted_sad = total_sad.sort_values(ascending=False, inplace=False)
sorted_energetic = total_energetic.sort_values(ascending=False, inplace=False)
sorted_relax = total_relax.sort_values(ascending=False, inplace=False)

In [19]:
## Find the intersection of top 30 occurences in each category
## Try using their intersection to be the stop list - words that do not add much meaning/value
inter1 = np.intersect1d(sorted_happy.index.values[:30],sorted_sad.index.values[:30])
inter2 = np.intersect1d(sorted_energetic.index.values[:30],sorted_relax.index.values[:30])
stop_list = np.intersect1d(inter1, inter2)
stop_list

array(['a', 'all', 'am', 'and', 'are', 'be', 'do', 'for', 'have', 'i',
       'in', 'is', 'it', 'me', 'my', 'not', 'of', 'on', 'so', 'that',
       'the', 'to', 'we', 'will', 'you', 'your'], dtype=object)

In [20]:
## Try using Python package for stop words
from stop_words import get_stop_words
stop_words = get_stop_words('en')
stop_words

[u'a',
 u'about',
 u'above',
 u'after',
 u'again',
 u'against',
 u'all',
 u'am',
 u'an',
 u'and',
 u'any',
 u'are',
 u"aren't",
 u'as',
 u'at',
 u'be',
 u'because',
 u'been',
 u'before',
 u'being',
 u'below',
 u'between',
 u'both',
 u'but',
 u'by',
 u"can't",
 u'cannot',
 u'could',
 u"couldn't",
 u'did',
 u"didn't",
 u'do',
 u'does',
 u"doesn't",
 u'doing',
 u"don't",
 u'down',
 u'during',
 u'each',
 u'few',
 u'for',
 u'from',
 u'further',
 u'had',
 u"hadn't",
 u'has',
 u"hasn't",
 u'have',
 u"haven't",
 u'having',
 u'he',
 u"he'd",
 u"he'll",
 u"he's",
 u'her',
 u'here',
 u"here's",
 u'hers',
 u'herself',
 u'him',
 u'himself',
 u'his',
 u'how',
 u"how's",
 u'i',
 u"i'd",
 u"i'll",
 u"i'm",
 u"i've",
 u'if',
 u'in',
 u'into',
 u'is',
 u"isn't",
 u'it',
 u"it's",
 u'its',
 u'itself',
 u"let's",
 u'me',
 u'more',
 u'most',
 u"mustn't",
 u'my',
 u'myself',
 u'no',
 u'nor',
 u'not',
 u'of',
 u'off',
 u'on',
 u'once',
 u'only',
 u'or',
 u'other',
 u'ought',
 u'our',
 u'ours',
 u'ourselves',
 u'out',
 u'over',
 u'own',
 u'same',
 u"shan't",
 u'she',
 u"she'd",
 u"she'll",
 u"she's",
 u'should',
 u"shouldn't",
 u'so',
 u'some',
 u'such',
 u'than',
 u'that',
 u"that's",
 u'the',
 u'their',
 u'theirs',
 u'them',
 u'themselves',
 u'then',
 u'there',
 u"there's",
 u'these',
 u'they',
 u"they'd",
 u"they'll",
 u"they're",
 u"they've",
 u'this',
 u'those',
 u'through',
 u'to',
 u'too',
 u'under',
 u'until',
 u'up',
 u'very',
 u'was',
 u"wasn't",
 u'we',
 u"we'd",
 u"we'll",
 u"we're",
 u"we've",
 u'were',
 u"weren't",
 u'what',
 u"what's",
 u'when',
 u"when's",
 u'where',
 u"where's",
 u'which',
 u'while',
 u'who',
 u"who's",
 u'whom',
 u'why',
 u"why's",
 u'with',
 u"won't",
 u'would',
 u"wouldn't",
 u'you',
 u"you'd",
 u"you'll",
 u"you're",
 u"you've",
 u'your',
 u'yours',
 u'yourself',
 u'yourselves']

In [21]:
## Get the normalized top 100 sad words after removing stop words
## Normalize with the count of word w devided by max count across all words
sorted_happy_df = sorted_happy.to_frame()
sorted_happy_df.reset_index(level=0, inplace=True)
happy_final = sorted_happy_df.loc[~sorted_happy_df['index'].isin(stop_words)]
happy_final = happy_final.iloc[:100]
happy_final.iloc[:,1] /= happy_final.iloc[0,1]
happy_final.columns = ['word','count']
happy_final.head(5)

    word     count
21  love  1.000000
23  will  0.969705
27  know  0.816451
28    oh  0.782405
32  just  0.684299

In [22]:
## Get the normalized top 100 sad words after removing stop words
## Normalize with the count of word w devided by max count across all words
sorted_sad_df = sorted_sad.to_frame()
sorted_sad_df.reset_index(level=0, inplace=True)
sad_final = sorted_sad_df.loc[~sorted_sad_df['index'].isin(stop_words)]
sad_final = sad_final.iloc[:100]
sad_final.iloc[:,1] /= sad_final.iloc[0,1]
sad_final.columns = ['word','count']
sad_final.head(5)

    word     count
17  will  1.000000
26  love  0.763016
28  know  0.732874
31  just  0.619447
36  like  0.511334

In [126]:
##Save to csv for future use
happy_final.to_csv('happy_plot.csv')
sad_final.to_csv('sad_plot.csv')